{% extends "base.html" %}

{% block content %}
<form>
    <ul>
    {{ form.as_ul }}
    </ul>
    <input type="submit" value="Submit">
</form>
{% with data=request.GET %}
{% if form.is_valid %}
<h2>Привет, {{ data.first_name }} {{ data.last_name }}</h2>
<!-- Если до дня рождения 0 дней... -->
{% if birthday_countdown == 0 %}
  <!-- ...выводим поздравление: -->
  С днём рождения!
<!-- Если до дня рождения не ноль дней... -->
{% else %}
  <!-- ...сообщаем, сколько осталось ждать: -->
  Осталось дней до дня рождения: {{ birthday_countdown }}!
{% endif %}
{% endif %}
{% endwith %}
{% endblock %}