{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block content %}
<div class="card col-4">
    <div class="card-header">
      Калькулятор ожидания дня рождения
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Отправить" %}
        </form>
    </div>
</div>
{% with data=form.instance %}
{% if form.is_valid %}
  ID новой записи в БД: {{ data.id }}
  <hr>
  <h2>Привет, {{ data.first_name }} {{ data.last_name }}</h2>
  {% if birthday_countdown == 0 %}
    <p>С днём рождения!</p>
  {% else %}
    <p>Осталось дней до дня рождения: {{ birthday_countdown }}!</p>
  {% endif %}
{% endif %}
{% endwith %}
{% endblock %}